/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: #2c3e50;
    padding: 20px;
    background-image: url("merelaugh.png");
    background-repeat: no-repeat;
    background-position: center top -18%;
}

/* Titre de la page */
#titre-page {
    text-align: center;
    margin-bottom: 20px;
}

/* Colonne gauche */
#Colonne-gauche {
    position: absolute;
    left: 10%;
    top: 15%;
    width: 300px;
}

#case-bouton-stat, #case-degat {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}

#result-box {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 105px 10%;
    margin-bottom: 20px;
}

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
    padding: 6px;
}

button {
    padding: 10px;
    border: none;
    background-color: #1A4D3C;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #113126;
}

/* Colonne droite */
#Colonne-droite {
    position: absolute;
    right: 10%;
    top: 15%;
    width: 300px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 513px;
    overflow: auto;
}

#ecalorahisto {
    list-style: none;
    margin-top: 10px;
}

.delete-btn {
    background-color: #FDA5A5;
}

.delete-btn:hover {
    background-color: #c38080;
}

/* Position du bouton retour */
#bouton-retour {
    position: absolute;
    top: 10px;
    left: 10px;
}

.return-btn {
    background-color: #4D2400;
}

.return-btn:hover {
    background-color: #271200;
}
